<div class="wrapper">
  <section class="content">
    <div class="container-fluid">

      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Contactos de Personas</h1>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>


      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">




            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let p of personas">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                  {{p.datoBasicoPersona!.tipoPersona !==undefined && 
                    p.datoBasicoPersona!.tipoPersona !==null  &&  
                    p.datoBasicoPersona!.tipoPersona !=='' ?  p.datoBasicoPersona!.tipoPersona : 'Desconocido' }}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-9">

                      <h2 class="lead"><b>{{p.datoBasicoPersona?.primerNombre}}
                          {{p.datoBasicoPersona?.primerApellido}}</b></h2>



                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="midium">

                          <p class="text-muted text-sm mb-1">
                            <span class="fa-li">
                              <i class="fas fa-lg fa-user-clock" style="margin-left:4px;"></i>
                            </span>
                            <b>&nbsp;Edad: </b>
                            {{ obtenerEdad(anioActual, p.datoBasicoPersona?.fechaNacimiento)}}
                          </p>

                          <p class="text-muted text-sm">
                            <span class="fa-li">
                              <i class="fas fa-lg fa-birthday-cake"></i>
                            </span>
                            <b>Cumpleaño: </b>
                            {{ obtenerCumpleanios(p.datoBasicoPersona?.fechaNacimiento)}}
                          </p>

                        </li>

                      </ul>

                    </div>
                    <div class="col-3 text-center">









                      <div
                        *ngIf="p.datoBasicoPersona?.foto  !== undefined && p.datoBasicoPersona?.foto  !== '' && p.datoBasicoPersona?.foto !== null ; else elseBlock">
                        <img src="{{p.datoBasicoPersona?.foto}}" alt="Avatar"
                          style="vertical-align: middle;width: 60px;height: 60px;border-radius: 50%;"
                          onerror="this.src='../../../../assets/images/NF.jpeg'">

                      </div>
                      <ng-template #elseBlock>

                        <div *ngIf="p.datoBasicoPersona?.sexo==='H' ; else elseBlock1">
                          <img src="../../../../assets/images/H.jpg" alt="Avatar"
                            style="vertical-align: middle;width: 60px;height: 60px;border-radius: 50%;">

                        </div>

                        <ng-template #elseBlock1>
                          <img src="../../../../assets/images/M.jpg" alt="Avatar"
                            style="vertical-align: middle;width: 60px;height: 60px;border-radius: 50%;">

                        </ng-template>


                      </ng-template>



















                    </div>
                    <div class="row pl-2">

                      <div class="col-12">


                        <ul class="ml-4 mb-0 fa-ul text-muted">

                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone mb-1"></i></span>
                            Celular:
                            {{p.datoBasicoPersona?.celular}}
                          </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope mb-1"></i></span> Email:
                            {{p.datoBasicoPersona?.email}}
                          </li>
                          <li class="small"><span class="fa-li"><i class="fas fa-lg fa-map-pin mb-1"></i></span>
                            Dirección:
                            {{p.datoBasicoPersona?.direccion}}
                          </li>


                        </ul>
                      </div>




                    </div>

                    <div class="col-12 mt-2">


                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="midium">

                          <div class="text-muted text-sm mb-1 pt-2" *ngIf="p.escuela?.length">
                            <span class="fa-li">
                              <i class="fas fa-lg fa-graduation-cap" style="margin-left:4px;"></i>
                            </span>
                            &nbsp;Escuelas
                            <br>



                            <div class="progress mt-1"
                              style="height:5px;background: #C2C7D0;border-radius: 20px; overflow: visible;position: relative;padding:0px;margin-right: 15px;">


                              <div class="progress-bar"
                                style=" background:#4f5962; border-radius: 20px;-webkit-animation:animate-positive 2s; animation: animate-positive 2s;"
                                [ngStyle]="{width:obtenerPorcentaje(p.escuela!), 'background-color':

                                obtenerColorFondoBarra(p.escuela!)}">
                                <div class="progress-value" style="font-size:10px"></div>
                              </div>
                            </div>

                          </div>


                          <div class="text-muted text-sm mb-1 pt-2" *ngIf="p.proceso?.length">
                            <span class="fa-li">
                              <i class="fas fa-lg fa-biking" style="margin-left:4px;"></i>
                            </span>
                            &nbsp;Procesos
                            <br>



                            <div class="progress mt-1"
                              style="height:5px;background: #C2C7D0;border-radius: 20px; overflow: visible;position: relative;padding:0px;margin-right: 15px;">


                              <div class="progress-bar"
                                style=" background:#4f5962; border-radius: 20px;-webkit-animation:animate-positive 2s; animation: animate-positive 2s;"
                                [ngStyle]="{width:obtenerPorcentaje(p.proceso!), 'background-color':

                                obtenerColorFondoBarra(p.proceso!)}">
                                <div class="progress-value" style="font-size:10px"></div>
                              </div>
                            </div>






                          </div>


                          <div class="text-muted text-sm mb-1 pt-2" *ngIf="p.grupo?.length">
                            <span class="fa-li">
                              <i class="fas fa-lg fa-users" style="margin-left:4px;"></i>
                            </span>
                            &nbsp;Grupos
                            <br>

                            <span *ngFor="let g of p.grupo" style="padding-top: 1px; margin: 2px;">
                              <span class="badge badge-pill badge-secondary" style="font-size: 9px;;">{{g.tipo}}</span>
                            </span>
                          </div>


                          <div class="text-muted text-sm mb-1 pt-2" *ngIf="p.seminario?.length">
                            <span class="fa-li">
                              <i class="fas fa-lg fa-university" style="margin-left:4px;"></i>
                            </span>
                            &nbsp;Seminarios
                            <br>

                            <span *ngFor="let s of p.seminario" style="padding-top: 1px; margin: 2px;">
                              <span class="badge badge-pill badge-secondary" [ngStyle]="{'background-color': s.color}"
                                style="font-size: 9px;;">{{s.tipo}}</span>
                            </span>
                          </div>



                        </li>

                      </ul>

                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <!--<a href="#" class="btn btn-sm bg-teal">
                  <i class="fas fa-comments"></i>
                </a>-->

                    <button type="button" class="btn btn-primary btn-sm" (click)="verPerfil(p)">
                      <i class="fas fa-user"></i> Ver Perfil
                    </button>




                  </div>
                </div>
              </div>
            </div>








          </div>
        </div>
      </div>

    </div>
  </section>

</div>
