<section class="content">
    <div class="container-fluid">

        <div class="row mt-4">
            <div class="col-12">

                <form [formGroup]="personaForm" (ngSubmit)="agregarPersona()">

                    <!-- Custom Tabs -->
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="mt-4 mb-2 pl-4">Registrar Persona</h3>
                            <!--<h3 class="card-title p-3">Tipo de Información <span class="text-muted">&nbsp;
                                &nbsp;(Información básica es requerida.)</span> </h3>-->
                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item"><a class="nav-link active" href="#tab_1"
                                        data-toggle="tab">Información Básica</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Información
                                    Eclecial</a></li>
                                    
                                <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Información
                                        Familiar</a></li>
                                
                                <li class="nav-item"><a class="nav-link" href="#tab_4" data-toggle="tab">Información
                                        Espiritual</a></li>

                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">

                                    <!-- general form elements -->
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><span class="text-light">Almenos debe completar la
                                                    información básica para registrar a la persona.</span></h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <!-- form start -->

                                        <div class="card-body">

                                            <!--CEDULA-->
                                            <div class="form-group">
                                                <label class="col-form-label">*Cédula</label>

                                                <input type="text" class="form-control form-control-lg"
                                                    id="cedula" placeholder="Ingresa la cédula"
                                                    formControlName="cedula"
                                                    >

                                                <div class="text-danger"
                                                    *ngIf="personaForm.get('cedula')?.hasError('required') && personaForm.get('cedula')?.touched">
                                                    <span>La cédula es <strong>obligatoria</strong></span>
                                                </div>
                                            </div>

                                            <!--PRIMER NOMBRE-->
                                   
                                            <div class="form-group">
                                                <label class="col-form-label">*Primer Nombre</label>

                                                <input type="text" class="form-control form-control-lg"
                                                    id="primerNombre" placeholder="Ingresa el primer nombre"
                                                    formControlName="primerNombre">


                                                <div class="text-danger"
                                                    *ngIf="personaForm.get('primerNombre')?.hasError('required') && personaForm.get('primerNombre')?.touched">
                                                    <span>El primer nombre es <strong>obligatorio</strong></span>
                                                </div>
                                            </div>


                                            <!--SEGUNDO NOMBRE-->
                                            <div class="form-group">
                                                <label class="col-form-label">Segundo Nombre</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    id="segundoNombre" placeholder="Ingresa el segundo nombre"
                                                    formControlName="segundoNombre">
                                            </div>


                                            
                                            <!--PRIMER APELLIDO-->
                             
                                            <div class="form-group">
                                                <label class="col-form-label">*Primer Apellido</label>

                                                <input type="text" class="form-control form-control-lg"
                                                    id="primerApellido" placeholder="Ingresa el primer apellido"
                                                    formControlName="primerApellido"
                                                    >

                                                <div class="text-danger"
                                                    *ngIf="personaForm.get('primerApellido')?.hasError('required') && personaForm.get('primerApellido')?.touched">
                                                    <span>El primer apellido es <strong>obligatorio</strong></span>
                                                </div>
                                            </div>

                                            <!--SEGUNDO APELLIDO-->
                                            <div class="form-group">
                                                <label class="col-form-label">Segundo Apellido</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    id="segundoApellido" placeholder="Ingresa el segundo apellido"
                                                    formControlName="segundoApellido">
                                            </div>

                                            <!--FECHA DE NACIMIENTO-->
                                            <div class="form-group">
                                                <label class="col-form-label">Fecha de Nacimiento</label>
                                                <input type="date" class="form-control form-control-lg"
                                                    id="fechaNacimiento" formControlName="fechaNacimiento">
                                            </div>

                                            <!--TELÉFONO-->
                                             <div class="form-group">
                                                <label class="col-form-label">Teléfono</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    id="telefono" placeholder="Ingresa el teléfono"
                                                    formControlName="telefono">
                                            </div>

                                            <!--CELULAR-->
                                            
                                            <div class="form-group">
                                                <label class="col-form-label">Celular</label>

                                                <input type="text" class="form-control form-control-lg"
                                                    id="celular" placeholder="Ingresa el celular"
                                                    formControlName="celular"
                                                    >

                                            </div>


                                            <!--DIRECCIÓN-->
                                           
                                            <div class="form-group">
                                                <label class="col-form-label">Dirección</label>

                                                <input type="text" class="form-control form-control-lg"
                                                    id="email" placeholder="Ingresa la dirección"
                                                    formControlName="direccion"
                                                    >
                                            </div>

                                            <!--EMAIL-->
                                           
                                            <div class="form-group">
                                                <label class="col-form-label">Email</label>

                                                <input type="email" class="form-control form-control-lg"
                                                    id="email" placeholder="Ingresa el email"
                                                    formControlName="email"
                                                    >
                                            </div>



                                        
                                            <!--SEXO-->
                                            <div class="form-group">
                                                <label class="col-form-label">Sexo</label>
                                                <div class="icheck-primary">
                                                    <input type="radio" id="sexoH" name="sexo" value="H" formControlName="sexo" checked/>
                                                    <label for="sexoH">Hombre</label>
                                                </div>
                                                <div class="icheck-primary">
                                                    <input type="radio" id="sexoM" name="sexo" value="M" formControlName="sexo"/>
                                                    <label for="sexoM">Mujer</label>
                                                </div>
                                            </div>

                                            <!--FOTO-->
                                            <!--<div class="form-group">
                                                <label for="exampleInputFile">Foto</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input "
                                                            id="foto" formControlName="foto">
                                                        <label class="custom-file-label"
                                                            for="exampleInputFile">Selecciona el archivo</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">Subir</span>
                                                    </div>
                                                </div>
                                            </div>-->

                                            <!--FOTO-->
                             
                                            <div class="form-group">
                                                <label class="col-form-label">Foto (Url)  </label>

                                                <input type="text" class="form-control form-control-lg"
                                                    id="foto" placeholder="Link de fotografía"
                                                    formControlName="foto"
                                                    >
                                                    <p class="text-muted"> Ej. https://sitio-web.com/tu-foto.jpg</p>
                                            </div>


                                            <!--BLOQUE DE CODIGO PARA USARLO COMO CAMPO CON ERROR-->
                                            <!--<div class="form-group">
                                                <label class="col-form-label" for="exampleInputEmail1">Primer Nombre</label>
                                                <input type="email" class="form-control form-control-lg is-invalid"
                                                    id="exampleInputEmail1" placeholder="Nombre">
                                            </div>-->
                                            <!--FIN-->


                                        </div>
                                        <!-- /.card-body -->


                                    </div>
                                    <!-- /.card -->

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    The European languages are members of the same family. Their separate existence is a
                                    myth.
                                    For science, music, sport, etc, Europe uses the same vocabulary. The languages only
                                    differ
                                    in their grammar, their pronunciation and their most common words. Everyone realizes
                                    why
                                    a
                                    new common language would be desirable: one could refuse to pay expensive
                                    translators.
                                    To
                                    achieve this, it would be necessary to have uniform grammar, pronunciation and more
                                    common
                                    words. If several languages coalesce, the grammar of the resulting language is more
                                    simple
                                    and regular than that of the individual languages.
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen
                                    book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                                    Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                    software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <div class="tab-pane" id="tab_4">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen
                                    book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                                    Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                    software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- ./card -->
                    <button type="submit" class="btn btn-success btn-lg-12 btn-sm-12"
                        [disabled]="personaForm.invalid">Guardar Persona</button>
                </form>

            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->


    </div>
</section>